<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalPapers | {% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-sm-6">
                <h1>DigitalPapers</h1>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'accounts:login' %}"><button>Login</button></a>
            </div>
        </div>
    </header>
    <main>
        {% block page_content %}{% endblock page_content %}
    </main>
    <footer>
        I am footer will guide you if you lost
    </footer>
</body>
</html>